<div class="center hero-unit">
	<h1>We know the clock is ticking...</h1>
		<h2>
			<p>

			<%= render 'static_pages/i18n/home_en' %>	
			</p>
		</h2>

	<div class="well">
		<%= link_to t(:signup), new_user_registration_path, class: "btn btn-large btn-primary" %>
		Why SignUp?
		benefits
	</div>	

			What else can I do?
			<div class="btn-toolbar">	
					<%= link_to t(:upload), '#', class: "btn btn-large btn-primary" %>
					<%= link_to t(:search), '#', class: "btn btn-large btn-primary" %>
			</div>			
			
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
buddist business network


